.inline-details {
    display: inline;
    background-color: rgba(128, 128, 128, 0.2);
    cursor: help;
}
.inline-details > input {
    /* No reason to see this. Ever. */
    display: none !important;
}
.inline-details > input:checked ~ .inline-details-placeholder {
    display: none !important;
}
.inline-details > input:not(:checked) ~ .inline-details-content {
    display: none !important;
}
